<!doctype html>
<html lang="en">
<head>
    {% load static %}
    {% load bootstrap_icons %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} | Certificate</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
{#    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstraicons@1.8.1/font/bootstrap-icons.css">#}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.css"/>
    <link rel="stylesheet" href="{% static 'main.css' %}"/>


</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-success">
        <div class="container-fluid ">
            <a class="navbar-brand" href="{% url 'certificate' %}" style="margin-left:10px">
                <img src="{% static 'general_app/2022-03-18-6-22-454373.png' %}" width="55" height="55">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link " href="{% url 'certificate' %}" id="btn_home">
                            {% bs_icon 'folder2-open' size='23' %} หน้าแรก</a>
                    </li>
                    {% if request.user.is_superuser %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'manage_user' %}">{% bs_icon 'person-gear' size='23' %}จัดการผู้ใช้งาน
                                <span class="sr-only"></span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link"
                               href="{% url 'configuration' %}">{% bs_icon 'gear' size='23' %}ตั้งค่า<span
                                    class="sr-only"></span></a>
                        </li>

                    {% endif %}
                </ul>
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item active">
                            <a class="nav-link" href=" {% url 'profile' %}">
                                {% bs_icon 'person-circle' size='23' %}
                                </i>{{ user.username }}<span
                                    class="sr-only"></span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'logout' %}">{% bs_icon 'door-open' size='23' %}ออกจากระบบ<span
                                    class="sr-only"></span></a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>


</header>
<footer></footer>
<!-- JavaScript Bundle with Popper -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous">

</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.js"></script>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script type="text/javascript">
    $(document).ready(function () { //auto open model
        $('#exampleModal').modal('show');
    });
</script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% block content %}{% endblock %}

{% load sweetify %}
{% sweetify %}

</body>
</html>
