{% extends 'general_app/base.html' %}
{% block title %}Certificate{% endblock %}
{% block content %}



    {% if upload == 'upload_completed' %}
        <script>
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 2500,
                timerProgressBar: false,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            })

            Toast.fire({
                icon: 'success',
                title: '<strong>{{ cert_file.name }}</strong> uploaded successfully'

            })
            {#window.location.replace("{% url 'certificate' %}");#}
        </script>
    {% endif %}
    {% if login %}
        <script>
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 2500,
                timerProgressBar: false,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            })

            Toast.fire({
                icon: 'success',
                title: '<strong>{{ user }}</strong> signed in successfully'
            })
        </script>
    {% endif %}

    {% if email_authen == email_valid and request.method == 'POST' and upload_completed == 'upload_completed' %}
        <script>
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: false,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            })

            Toast.fire({
                icon: 'success',
                title: '<strong>{{ email_authen }}</strong> successfully'
            })
        </script>
    {% endif %}

    {% if email_authen != email_valid %}
        <script>
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: false,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            })

            Toast.fire({
                icon: 'success',
                title: 'กรุณาตรวจสอบอีกเมล์อีกครั้งเพื่อความถูกต้อง'
            })
        </script>
    {% endif %}


    {% if certificate_file %}
        <script>
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: false,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            })

            Toast.fire({
                icon: 'success',
                title: '<strong>{{ certificate_file.cert }}</strong> uploaded successfully'
            })
        </script>
    {% endif %}



    {#upload#}
    {% if request.user.is_superuser %}
        <form action="{% url 'certificate' %}" method="post" enctype="multipart/form-data"
              onsubmit="submit_file.disabled = true; return true;">
            {% csrf_token %}
            <div class="d-flex justify-content-center flex-wrap" style="margin-top: 50px">
                <div class="p-2">
                    <input class="form-control form-control-lg " type="file" required name="cert_file">
                </div>
                <div class="p-2">
                    <input class="form-control form-control-lg " list="datalistOptions" id="exampleDataList"
                           placeholder="Type to search..." required name="username">
                    <datalist id="datalistOptions">
                        {% for user in users %}
                            <option value="{{ user }}">
                        {% endfor %}
                    </datalist>
                </div>
                <div class="btn-group btn-group-lg p-2" role="group" aria-label="...">
                    <button type="submit" class="btn btn-outline-success " role="group" id="submit_file"
                            name="submit_file"><strong>Submit</strong></button>
                </div>
            </div>
        </form>
    {% endif %}


    <div class="d-flex justify-content-center flex-wrap">
        <div class="">
            <div class="p-2 flex-grow-2 bd-highlight">
                <table class="table table-lg table-hover ">
                    <thead>
                    <tr>
                        <th scope="col">ลำดับที่</th>
                        <th scope="col" style="text-align: center">ไฟล์</th>
                        <th scope="col" style="text-align: center">วันที่</th>
                    </tr>
                    </thead>
                    <tbody>
                    <div class="container" onclick="location.href='{{ cert.cert.url }}';">
                        {% for cert,cert_date in cert %}
                            <tr>
                                <th scope="row" style="text-align: center">{{ forloop.counter }}</th>
                                <td style="text-align: center"><a href="{{ cert.cert.url }}"
                                                                  target="_blank">{{ cert.cert }}</a></td>

                                {#                                    <td>{{ cert.create_date|date:"D d M Y" }}</td>#}
                                <td style="text-align: center">{{ cert_date }}</td>

                            </tr>
                        {% endfor %}
                    </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>




    {#email_authen#}
    {% if user.email == '' and email_authen is None or email_authen != email_valid %}
        <form action="{% url 'certificate' %}" METHOD="post" name="test">
            {% csrf_token %}
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 data-bs-backdrop="static" data-bs-keyboard="false"
                 data-keyboard="false" data-backdrop="static" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">E-mail</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"
                                    onclick="javascript:window.location.reload()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                   aria-describedby="emailHelp"
                                   placeholder="Enter email" name="email" required>
                            <input type="email" name="email_valid" placeholder="Enter email again" class="form-control"
                                   autocomplete="off">
                            <small id="emailHelp" class="form-text text-muted">กรุณาใส่อีเมล์ที่สามารถใช้ได้จริงเพื่อทำการแจ้งเตือนนัดล่วงหน้า.</small>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger me-auto" data-bs-dismiss="modal"
                                    onclick="location.href='{% url 'logout' %}';">Logout
                            </button>
                            <button type="submit" class="btn btn-primary" name="btn_email">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    {% endif %}
{% endblock %}






