{% extends 'general_app/base.html' %}
{% block title %}Certificate{% endblock %}
{% block content %}
    {% load static %}
    {% load bootstrap_icons %}
    {% csrf_token %}
    <div class="dropup position-fixed bottom-0 end-0 rounded-circle mb-3 me-3" id="delete_btn" style="display: none">
        <form action="{% url 'home' %}" method="POST">
            {% csrf_token %}
            <input style="display: none" id="delete_file_input" name="delete_file" value="">
            <button type="submit" class="btn btn-danger btn-lg" name="delete_file" onclick="delete_btn()">
                {% bs_icon 'trash' size='23' %}ลบไฟล์
            </button>
        </form>
    </div>


    {% for message in messages %}
        {% if message.message == "uploaded file" %}
            <script>
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 2500,
                    timerProgressBar: false,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })

                Toast.fire({
                    icon: 'success',
                    title: 'อัพโหลดเสร็จเรียบร้อย'

                })
            </script>
        {% elif message.message == 'login success' %}
            <script>
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 2500,
                    timerProgressBar: false,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })

                Toast.fire({
                    icon: 'success',
                    title: '<strong>{{ user }}</strong> เข้าสู่ระบบเรียบร้อยแล้ว'
                })
            </script>


        {% elif message.message == 'email success' %}
            <script>
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: false,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })

                Toast.fire({
                    icon: 'success',
                    title: 'เพิ่ม <strong>{{ email_authen }}</strong> เรียบร้อย'
                })
            </script>


        {% elif message.message == 'emails are not match' %}
            <script>
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: false,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })

                Toast.fire({
                    icon: 'error',
                    title: 'กรุณาตรวจสอบอีเมลอีกครั้งเพื่อความถูกต้อง'
                })
            </script>


        {% elif certificate_file %}
            <script>
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: false,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })

                Toast.fire({
                    icon: 'success',
                    title: '<strong>{{ certificate_file.cert }}</strong> uploaded successfully'
                })
            </script>
        {% endif %}





    {% endfor %}

    {#search#}
    {% if request.user.is_superuser %}
        <form action="{% url 'home' %}" method="get">
            <div class="d-flex justify-content-center flex-wrap" style="margin-top: 30px">
                <input type="search" class="form-control form-control-lg w-25" placeholder="ค้นหา..."
                       aria-label="Search" name="searched" list="datalist_search" autocomplete="off"
                       aria-describedby="search-addon" {% if searched %} value="{{ searched }}" {% endif %} />
                <datalist id="datalist_search">
                    {% for user in users %}
                        <option value="{{ user }}"></option>
                    {% endfor %}
                </datalist>
                <button type="submit" class="mx-2 btn btn-outline-success btn-lg">
                    {% bs_icon 'search' %}
                </button>

                <button type="button" class="btn btn-outline-secondary " role="group" data-bs-toggle="modal"
                        data-bs-target="#filter"
                >{% bs_icon 'filter' size='23' %}
                </button>
{#                <button type="submit" class="btn btn-outline-secondary ms-2" name="btn_sort">#}
{#                    {% bs_icon 'sort-numeric-up-alt' size='23' %}#}
{#                </button>#}
            </div>
        </form>


        {#upload#}
        <form action="{% url 'home' %}" method="post" enctype="multipart/form-data"
              onsubmit="submit_file.disabled = true; return true;">
            {% csrf_token %}
            <div class="d-flex justify-content-center flex-wrap mb-3" style="margin-top: 25px">


                <div class="p-1">
                    {{ certform.cert }}
                    {#                    <input class="form-control form-control-lg " type="file" required name="cert_file">#}
                </div>
                <div class="p-1 mx-2">
                    {{ certform.hospital }}
                    {#                    <datalist id="datalistOptions" >#}
                    {#                        {% for user in users %}#}
                    {#                            <option value="{{ user }}"></option>#}
                    {#                        {% endfor %}#}
                    {#                    </datalist>#}


                    {#                    <input class="form-control form-control-lg " list="datalistOptions" id="exampleDataList"#}
                    {#                           placeholder="ชื่อโรงพยาบาล" required name="username">#}
                    {#                    <datalist id="datalistOptions">#}
                    {#                        {% for user in users %}#}
                    {#                            <option value="{{ user }}">#}
                    {#                        {% endfor %}#}
                    {#                    </datalist>#}
                </div>
                <div class="btn-group btn-group-lg p-1" role="group" aria-label="...">
                    <button type="submit" class="btn btn-outline-success " role="group" id="submit_file"
                            name="submit_files">อัปโหลด
                    </button>
                </div>
            </div>
        </form>
    {% endif %}


    <div class="d-flex justify-content-center flex-wrap ">
        <div class="p-2 flex-grow-2 bd-highlight w-75">
            <table class="table table-lg table-hover">
                <thead>
                <tr>
                    <th scope="col">ลำดับที่</th>
                    {% if request.user.is_superuser %}
                        <th scope="col">โรงพยาบาล</th>
                    {% endif %}
                    <th scope="col">ไฟล์</th>
                    <th scope="col">วันที่</th>
                </tr>
                </thead>
                <tbody>
                <div class="container" onclick="location.href='{{ cert.cert.url }}';">
                    {% for cert,cert_date in certs %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            {% if request.user.is_superuser %}
                                <td style="font-size: 18px"><strong>{{ cert.hospital }}</strong></td>
                            {% endif %}
                            <td><a href="{{ cert.cert.url }}"
                                   target="_blank">{{ cert.cert }}</a></td>

                            {#                                    <td>{{ cert.create_date|date:"D d M Y" }}</td>#}
                            <td>{{ cert_date }}</td>
                        </tr>
                    {% endfor %}
                </div>
                </tbody>
            </table>
        </div>
    </div>




    {#email_authen#}
    {% if user.email == '' and email_authen is None or email_authen != email_valid %}
        <form action="{% url 'home' %}" METHOD="post" name="test">
            {% csrf_token %}
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 data-bs-backdrop="static" data-bs-keyboard="false"
                 data-keyboard="false" data-backdrop="static" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">เพิ่มอีเมล</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"
                                    onclick="javascript:window.location.reload()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <label>
                                    อีเมล
                                </label>
                                <input type="email" class="form-control mb-3" id="exampleInputEmail1"
                                       aria-describedby="emailHelp"
                                       placeholder="กรอกอีเมล" name="email" required
                                       {% if email_authen %}value="{{ email_authen }} {% endif %}">
                                <label>ยืนยันอีเมล</label>
                                <input type="email" name="email_valid" placeholder="กรอกอีเมลอีกครั้ง"
                                       class="form-control"
                                       autocomplete="off">
                                <small id="emailHelp" class="form-text text-muted">กรุณาใส่อีเมล์ที่สามารถใช้ได้จริงเพื่อทำการแจ้งเตือนนัดล่วงหน้า.</small>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger me-auto" data-bs-dismiss="modal"
                                    onclick="location.href='{% url 'logout' %}';">Logout
                            </button>
                            <button type="submit" class="btn btn-primary" name="btn_email">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    {% endif %}



    {#filter#}
    <form action="{% url 'home' %}" method="GET">
        <div class="modal fade" id="filter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="month" name="date_filter">
                        <br>
                        เดือน
                        <input>
                        <br>
                        ปี
                        <input>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </form>




    <script src="{% static 'designer/js/jquery.cookie.js' %}"></script>
    <script>


    </script>
{% endblock %}






