{% extends 'general_app/base.html' %}
{% block title %}Certificate{% endblock %}
{% block content %}
    {% load static %}
    {% load bootstrap_icons %}
{#    <div class="dropup position-fixed bottom-0 end-0 rounded-circle mb-3 me-3" id="delete_btn" style="display: none">#}
{#        <form action="{% url 'home' %}" method="POST">#}
{#            {% csrf_token %}#}
{#            <input style="display: none" id="delete_file_input" name="delete_file" value="">#}
{#            <button type="submit" class="btn btn-danger btn-lg" name="delete_file" onclick="delete_btn()">#}
{#                {% bs_icon 'trash' size='23' %}ลบไฟล์#}
{#            </button>#}
{#        </form>#}
{#    </div>#}
    <style>
        .select2-container .select2-selection--single {
            width: 200px;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            font-size: 20px;
        }
    </style>
    {% for message in messages %}
        {% if message.message == "uploaded file" %}
            <script>
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 2500,
                    timerProgressBar: false,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })

                Toast.fire({
                    icon: 'success',
                    title: 'อัพโหลดเสร็จเรียบร้อย'

                })
            </script>
        {% elif message.message == 'login success' %}
            <script>
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 2500,
                    timerProgressBar: false,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })

                Toast.fire({
                    icon: 'success',
                    title: '<strong>{{ user }}</strong> เข้าสู่ระบบเรียบร้อยแล้ว'
                })
            </script>


        {% elif message.message == 'email success' %}
            <script>
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: false,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })

                Toast.fire({
                    icon: 'success',
                    title: 'เพิ่ม <strong>{{ email_authen }}</strong> เรียบร้อย'
                })
            </script>


        {% elif message.message == 'emails are not match' %}
            <script>
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: false,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })

                Toast.fire({
                    icon: 'error',
                    title: 'กรุณาตรวจสอบอีเมลอีกครั้งเพื่อความถูกต้อง'
                })
            </script>


        {% elif certificate_file %}
            <script>
                const Toast = Swal.mixin({
                    toast: true,
                    position: 'top-end',
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: false,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })

                Toast.fire({
                    icon: 'success',
                    title: '<strong>{{ certificate_file.cert }}</strong> uploaded successfully'
                })
            </script>
        {% endif %}




    {% endfor %}
{#    {{ request.session.user }}#}
    {#search#}
    {% if request.user.is_superuser %}
        <form action="{% url 'home' %}" method="get">
            <div class="d-flex justify-content-center flex-wrap" style="margin-top: 30px">
                <div class="input-group w-25" style="font-size: 27px;height: 50px">
                    <select class="js-example-basic-multiple form-control form-control-lg"
                            name="searched"
                            multiple="multiple" id="searched_select">
                        {% for user in users %}
                            <option value="{{ user }}">{{ user }}</option>
                        {% endfor %}
                        {% if searched %}
                            {% for search in searched %}
                                <option value="{{ search }}" selected>{{ search }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <button type="submit" class="mx-2 btn btn-outline-success btn-lg">
                    {% bs_icon 'search' %}
                </button>

{% comment %}                <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#add_cert">
                    {% bs_icon 'plus-circle' size='23' %}
                </button>{% endcomment %}

            </div>
        </form>
    {% endif %}


    <div class="d-flex justify-content-center flex-wrap mt-5">
        <div class="p-2 flex-grow-2 bd-highlight w-75 table-responsive">
            <table class="table table-lg table-hover">
                <thead>
                <tr>
                    <th scope="col">ลำดับที่</th>
                    {% if request.user.is_superuser %}
                        <th scope="col">โรงพยาบาล</th>
                    {% endif %}
                    <th scope="col">ไฟล์</th>
                    <th scope="col" style="width: 25%">วันที่</th>
                    {% if request.user.is_superuser %}
                        <th scope="col"></th>
                    {% endif %}
                </tr>
                </thead>
                <tbody style="font-size: 18px">
                <div class="container" onclick="location.href='{{ cert.cert.url }}';">
                    {% for cert,cert_date in certs %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            {% if request.user.is_superuser %}
                                <td>{{ cert.hospital }}</td>
                            {% endif %}
                            <td><a href="{{ cert.cert.url }}"
                                   onclick="window.location.replace('{% url 'home' cert.id %}');"
                                   target="_blank">ดาวโหลดไฟล์คลิกที่นี่</a></td>

                            {#                                    <td>{{ cert.create_date|date:"D d M Y" }}</td>#}
                            <td>{{ cert_date }}</td>
                            {% if request.user.is_superuser %}
                                <td>
                                    <button type="button" name="delete_record" onclick="delete_rec({{ cert.id }})"
                                            {#                                            onclick="location.href='{% url 'delete_record' cert.id %}';"#}
                                            class="btn btn-danger">{% bs_icon 'trash' size='23' %}</button>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </div>
                </tbody>
            </table>
        </div>
    </div>




    {#email_authen#}
    {% if user.email == '' and email_authen is None or email_authen != email_valid %}
        <form action="{% url 'home' %}" METHOD="post" name="test">
            {% csrf_token %}
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 data-bs-backdrop="static" data-bs-keyboard="false"
                 data-keyboard="false" data-backdrop="static" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">เพิ่มข้อมูล</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"
                                    onclick="javascript:window.location.reload()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <label>ตำแหน่ง <span style="color: red">*</span></label>
                                <input type="text" class="form-control mb-3"
                                       placeholder="ตำแหน่ง" name="position" required
                                       {% if email_authen %}value="{{ position }} {% endif %}">
                                <label>ชื่อ-นามสกุล <span style="color: red">*</span></label>
                                <input type="text" class="form-control mb-3"
                                       placeholder="ชื่อ-สกุล" name="name" required
                                       {% if email_authen %}value="{{ name }} {% endif %}">
                                <label>เบอร์โทร <span style="color: red">*</span></label>
                                <input type="text" class="form-control mb-3" minlength="6" maxlength="10" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                                       placeholder="เบอร์โทรที่สามารถติดต่อได้" name="number" required
                                       {% if email_authen %}value="{{ number }} {% endif %}">
                                <label>อีเมล <span style="color: red">*</span></label>
                                <input type="email" class="form-control mb-3" id="exampleInputEmail1"
                                       aria-describedby="emailHelp"
                                       placeholder="กรอกอีเมล" name="email" required
                                       {% if email_authen %}value="{{ email_authen }} {% endif %}">
                                <label>ยืนยันอีเมล <span style="color: red">*</span></label>
                                <input type="email" name="email_valid" placeholder="กรอกอีเมลอีกครั้ง"
                                       class="form-control"
                                       autocomplete="off">
                                <small id="emailHelp" class="form-text text-muted">กรุณาใส่อีเมล์ที่สามารถใช้ได้จริงเพื่อทำการแจ้งเตือนนัดล่วงหน้า.</small>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger me-auto" data-bs-dismiss="modal"
                                    onclick="location.href='{% url 'logout' %}';">ออกจากระบบ
                            </button>
                            <button type="submit" class="btn btn-primary" name="btn_email">ยืนยัน</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    {% endif %}



    {#filter#}
    <form action="{% url 'home' %}" method="GET">
        <div class="modal fade" id="filter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <br>
                        เดือน
                        <input>
                        <br>
                        ปี
                        <input>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                        <button type="submit" class="btn btn-primary">ยืนยัน</button>
                    </div>
                </div>
            </div>
        </div>
    </form>




    {#    add_cert #}
  {% comment %}  <div class="modal fade" id="add_cert" aria-labelledby="exampleModalLabel" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">อัปโหลดใบรับรองดิจิทัล</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {#upload#}
                    <form action="{% url 'home' %}" method="post" enctype="multipart/form-data" onsubmit="submit_file.disabled = true; return true;">
                        {% csrf_token %}
                        <div class="d-flex justify-content-center flex-wrap ">
                            {#                        <select class="js-example-basic-multiple form-control form-control-lg" name="states[]"#}
                            {#                                multiple="multiple">#}
                            <div class="selection2_name p-2">
                                {{ certform.hospital }}
                            </div>
                            {#                            {% for user in users %}#}
                            {#                                <option value="{{ uesr }}">{{ user }}</option>#}
                            {#                            {% endfor %}#}
                            {#                        </select>#}
                            <div class="w-50 p-2" id="div_upload">
                                {{ certform.cert }}
                            </div>
                            <div id="div_upload_btn" class="p-2">
                                <button type="submit" class="btn btn-outline-success btn-lg" role="group"
                                        id="submit_file"
                                        name="submit_files">อัปโหลด
                                </button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>{% endcomment %}






{#hide div#}
{#    <script>#}
{##}
{#        document.getElementById("div_upload").style.display = "none"#}
{#        document.getElementById("div_upload_btn").style.display = "none"#}
{#        console.log('select2');#}
{#        $('#mySelect2').select2({#}
{#            dropdownParent: $('#add_cert')#}
{#        });#}
{##}
{#        $('#upload_input').change(function () {#}
{#            if (document.getElementById("upload_input").files.length == 0) {#}
{#                document.getElementById("div_upload_btn").style.display = "none"#}
{#            } else {#}
{#                console.log('else')#}
{#                document.getElementById("div_upload_btn").style.display = "block"#}
{#            }#}
{#        })#}
{##}
{#        $('#mySelect2').change(function () {#}
{#            var val = $("#mySelect2 option:selected").text();#}
{#            if (val != '---------') {#}
{#                console.log('val if', val);#}
{#                document.getElementById("div_upload").style.display = "block"#}
{##}
{#            } else {#}
{#                console.log('val else', val);#}
{#                document.getElementById("div_upload").style.display = "none"#}
{#                document.getElementById("div_upload_btn").style.display = "none"#}
{#            }#}
{#        });#}
{#    </script>#}




    <script>


        $('#submit_file').on('click', function (e) {
            console.log(e)
            e.preventDefault();
            var selected = $("#mySelect2 option:selected").text();
            var file = document.getElementById("upload_input").files[0].name;
            var form = $(this).parents('form');
            swal.fire({
                title: "ยืนยันการอัปโหลด",
                text: `ต้องการที่อัปโหลด ${file} ให้กับ ${selected}`,
                showCancelButton: true,
                confirmButtonColor: "#198754",
                confirmButtonText: "ยืนยัน",
                cancelButtonColor: '#BB2D3B',
                cancelButtonText: 'ยกเลิก',
            }).then((result) => {
                if (result.isConfirmed) {
                    form.submit()
                }
            })
        });
    </script>

    <script>

        function delete_rec(item) {

            Swal.fire({
                title: 'ต้องการจะลบเอกสารนี้หรือไม่',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#198754',
                cancelButtonColor: '#d33',
                cancelButtonText: 'ยกเลิก',
                confirmButtonText: 'ยืนยัน'
            }).then((result) => {
                if (result.isConfirmed) {
                    item = item.toString()
                    window.location.replace(item);
                }
            })
        }
    </script>
{% endblock %}






