{% extends 'general_app/base.html' %}
{% block title %}UPLOAD{% endblock %}
{% block content %}

    <form action="{% url 'upload_cert' %}" method="post">
        {% csrf_token %}
        <div class="d-flex justify-content-center flex-wrap" style="margin-top: 50px">
            <div class="p-2">
                <input class="form-control form-control-lg " type="file">
            </div>
            <div class="p-2">
                <input class="form-control form-control-lg " list="datalistOptions" id="exampleDataList"
                       placeholder="Type to search...">
                <datalist id="datalistOptions">
                    {% for user in users %}
                        <option value="{{ user }}">
                    {% endfor %}
                </datalist>
            </div>
            <div class="btn-group btn-group-lg p-2" role="group" aria-label="...">
                <button type="submit" class="btn btn-outline-success " role="group"><strong>Submit</strong></button>
            </div>
        </div>
    </form>

    <div class="table-responsive">
        <table class="table caption-top">
            <caption>Recently upload</caption>
            <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">File</th>
                <th scope="col">Hospital</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
            </tr>
            </tbody>
        </table>
    </div>




{% endblock %}