.navbar-dark .navbar-nav .nav-link {
    color: White; /*font*/
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: black; /*hover*/
}

body,html {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}








