{% extends 'general_app/base.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
{% block success %}
{% endblock %}
    {#        <div class="d-flex justify-content-center flex-wrap w-5" style="margin-top: 50px;">#}
    {#            <div class="flex-column">#}
    {#                <div class="mb-3">#}
    {#                    <label for="id_old_password" class="form-label">ชื่อผู้ใช้งาน</label>#}
    {#                    <input type="text" class="form-control" value="{{ user.username }}" disabled>#}
    {#                </div>#}
    {#                <div class="mb-3">#}
    {#                    <label for="id_old_password" class="form-label">รหัสผ่านเก่า</label>#}
    {#                    <input type="password" name="old_password" autocomplete="current-password" autofocus=""#}
    {#                           class="form-control"#}
    {#                           required=""#}
    {#                           id="id_old_password">#}
    {#                </div>#}
    {#                <div class="mb-3">#}
    {#                    <label for="id_new_password1" class="form-label">รหัสผ่านใหม่</label>#}
    {#                    <input type="password" name="new_password1" autocomplete="new-password" required="" class="form-control"#}
    {#                           id="id_new_password1">#}
    {#                </div>#}
    {#                <div class="mb-3">#}
    {#                    <label for="id_new_password2" class="form-label">ยืนยันรหัสผ่านใหม่</label>#}
    {#                    <input type="password" name="new_password2" autocomplete="new-password" required="" class="form-control"#}
    {#                           id="id_new_password2">#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}

    {#    <form method="post" action="{% url 'change_password' %}">#}
    {#        {% csrf_token %}#}
    {#        {{ form }}#}
    {#        <button type="submit">Save changes</button>#}
    {#    </form>#}

    <form action="{% url 'change_password' %}" method="post">
        {% csrf_token %}
        <div class="container" style="margin-top: 50px;">
            <div class="mb-3 col-sm-4" style="margin-right: auto;margin-left: auto;">
                <label for="username" class="form-label">ชื่อผู้ใช้งาน</label>
                <input type="text" class="form-control" value="{{ user.username }}" disabled id="username">
            </div>
            <div class="mb-3 col-sm-4" style="margin-right: auto;margin-left: auto;">
                <label for="id_old_password" class="form-label" style="font-size: 18px">รหัสผ่านเก่า</label>
                <input type="password" name="old_password" autocomplete="current-password" autofocus=""
                       class="form-control form-control-lg mb-1"
                       required=""
                       id="id_old_password">
                <input type="checkbox" onclick="show_password1()">แสดงรหัสผ่าน
                {% if 'old_password' in form.errors %}
                    <div class="alert alert-danger p-1" role="alert">
                        รหัสผ่านเดิมไม่ถูกต้อง
                    </div>
                {% endif %}
            </div>


            <div class="mb-3 col-sm-4" style="margin-right: auto;margin-left: auto;">
                <label for="id_new_password1" class="form-label">รหัสผ่านใหม่</label>
                <input type="password" name="new_password1" autocomplete="new-password" required="" minlength="8"
                       class="form-control mb-1"
                       id="id_new_password1">
                <input type="checkbox" onclick="show_password2()">แสดงรหัสผ่าน
                {% if 'new_password2' in form.errors %}
                    <div class="alert alert-danger p-1" role="alert">
                        รหัสผ่านง่ายเกินไป
                    </div>
                {% endif %}
                <ul>
                    <li>มีอย่างน้อย 8 หลัก</li>
{#                    <li>มีตัวอักษรอย่างน้อย 1 ตัว</li>#}
                </ul>
            </div>


            <div class="mb-3 col-sm-4" style="margin-right: auto;margin-left: auto;">
                <label for="id_new_password2" class="form-label">ยืนยันรหัสผ่านใหม่</label>
                <input type="password" name="new_password2" autocomplete="new-password" required="" class="form-control"
                       id="id_new_password2" minlength="8">
                {#                <span id='message'></span>#}
                <p class='mt-1' id="message"></p>
                {% if form.errors == 'The two password fields didn’t match.' %}
                    <div class="alert alert-danger" role="alert">
                        รหัสผ่านใหม่ทั้ง2ช่องไม่ตรงกัน
                    </div>
                {% endif %}
                <button class="btn btn-success" type="submit" id="btn_change_password">ยืนยัน</button>
            </div>

            {#            {% for field in form %}#}
            {#                <div class=form-group">#}
            {#                    {{ field.label }}#}
            {#                    {{ field }}#}
            {#                </div>#}
            {#                {% if field.errors %}#}
            {#                    <div class="alert alert-danger">#}
            {#                        {{ field.errors }}#}
            {#                    </div>#}
            {#                    {% if field.errors%}#}
            {#                        ใส่รหัสผ่านใหม่#}
            {#                        {% endif %}#}
            {#                {% endif %}#}
            {#            {% endfor %}#}


            {#                    {% for error in form.non_field_errors %}#}
            {#                        <div class="alert alert-danger">#}
            {#                            {{ error }}#}
            {#                        </div>#}
            {#                    {% endfor %}#}
            {#                        {% for field in form %}#}
            {#                            <div class=form-group">#}
            {#                                {{ field.label }}#}
            {#                                {{ field }}#}
            {#                            </div>#}
            {#                            {% if field.errors %}#}
            {#                                <div class="alert alert-danger">#}
            {#                                    {{ field.errors }}#}
            {#                                </div>#}
            {#                            {% endif %}#}
            {#                        {% endfor %}#}
        </div>
    </form>
    {{ request.session.new_password2 }}

    {#<div class="position-relative">#}
    {#  <div class="position-absolute top-0 start-0">1</div>#}
    {#  <div class="position-absolute top-0 start-50 translate-middle-x">2</div>#}
    {#  <div class="position-absolute top-0 end-0">2</div>#}
    {#  <div class="position-absolute top-50 start-0 translate-middle-y">4</div>#}
    {#  <div class="position-absolute top-50 start-50 translate-middle">5</div>#}
    {#  <div class="position-absolute top-50 end-0 translate-middle-y">6</div>#}
    {#  <div class="position-absolute bottom-0 start-0">7</div>#}
    {#  <div class="position-absolute bottom-0 start-50 translate-middle-x">8</div>#}
    {#  <div class="position-absolute bottom-0 end-0">9</div>#}
    {#</div>#}


    {##}
    {#    <div class="position-relative">#}
    {#        <div class="position-absolute top-0 start-0 translate-middle">1</div>#}
    {#        <div class="position-absolute top-0 start-50 translate-middle">2</div>#}
    {#        <div class="position-absolute top-0 start-100 translate-middle">3</div>#}
    {#        <div class="position-absolute top-50 start-0 translate-middle">4</div>#}
    {#        <div class="position-absolute top-50 start-50 translate-middle">5</div>#}
    {#        <div class="position-absolute top-50 start-100 translate-middle">6</div>#}
    {#        <div class="position-absolute top-100 start-0 translate-middle">7</div>#}
    {#        <div class="position-absolute top-100 start-50 translate-middle">8</div>#}
    {#        <div class="position-absolute top-100 start-100 translate-middle">9</div>#}
    {#    </div>#}


    <script>
        $('#id_new_password1, #id_new_password2').on('keyup', function () {
            if ($('#id_new_password1').val() == $('#id_new_password2').val() && $('#id_new_password1').val() != '' && $('#id_new_password2').val() != '') {
                $('#message').html('รหัสผ่านถูกต้อง').css('color', 'green');
                document.querySelector('#btn_change_password').disabled = false;
            } else if($('#id_new_password1').val() != '' || $('#id_new_password2').val() != '') {
                $('#message').html('รหัสผ่านไม่ตรงกัน').css('color', 'red');
                document.querySelector('#btn_change_password').disabled = true;
            }else {
                $('#message').html('กรุณากรอกรหัสผ่าน').css('color', 'red');
                document.querySelector('#btn_change_password').disabled = true;
            }
        });

        function show_password1() {
            var password1 = document.getElementById("id_old_password");

            if (password1.type === "password") {
                password1.type = "text";
            } else {
                password1.type = "password";
            }
        }

        function show_password2() {
            var password2 = document.getElementById("id_new_password1");

            if (password2.type === "password") {
                password2.type = "text";
            } else {
                password2.type = "password";
            }
        }
    </script>
{% endblock %}