<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.css"/>
    <title>Document | Certificate</title>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

</head>
<body>
{% if messages %}
    {% for message in messages %}
        <script>
            Swal.fire({
                title: 'รหัสผ่านผิด กรุณากรอกใหม่',
                text: 'กรุณากรอกผู้ใช้งานและรหัสผ่านให้ถูกต้อง ',
                text: '',
                icon: 'error',
                confirmButtonText: 'ปิด',
                timer: 1500
            })
        </script>
    {% endfor %}
{% endif %}
{{ user }}


<div class="container-fluid h-100">
    <div class="row">
        <div class="col d-none d-md-flex"
             style="background-color: #93AE99;height: 100vh;display: flex;align-items: center;justify-content: center;flex-direction: column">
            <img class="img-fluid" src="{% static 'general_app/2022-03-18-6-22-454373.png' %}" width="400px"
                 height="400px">
            <H1 class="mt-5">กรมสนับสนุนบริการสุขภาพ</H1>

        </div>
        <div class="col "
             style="height: 100vh;display: flex;align-items:center;align-content: stretch;flex-wrap: wrap;flex-direction: column;">
            <div class="text-center" style="margin-top: 100px; margin-bottom: 60px">
                <p style="font-size: xxx-large">ศูนย์สนับสนุนบริการสุขภาพที่ 7</p>
            </div>

            <div class="form-outline w-50 mt-5">
                <form action="{% url 'login' %}" METHOD="post" >
                    <label class="form-label" for="username" style="font-size: 18px">ชื่อผู้ใช้งาน</label>
                    {% csrf_token %}

                    {#                    <input    {% if messages %}#}
                    {#                        {% for message in messages %}#}
                    {#                            class="form-control is-invalid"#}
                    {#                            value="{{ request.session.user.username }}"#}
                    {#                        {% endfor %}#}
                    {#                    {% else %}#}
                    {#                            class="form-control "#}
                    {#                    {% endif %} list="username_login" id="username"#}
                    {#                            placeholder="Username" name="username" required#}
                    {#                            autocomplete="off">#}
                    {#                    <datalist name="username_login" id="username_login">#}
                    {#                        {% for user in user %}#}
                    {#                            <option value="{{ user }}">{{ user }}</option>#}
                    {#                        {% endfor %}#}
                    {#                    </datalist>#}


                    {#                    {{ user }}#}
                    {#                                        {% for users in user %}#}
                    {#                                            <h1>{{ users }}</h1>#}
                    {#                                        {% endfor %}#}


                    <input type="hidden" id="username" name="username">
                    <select class="js-example-basic-single form-control" id="select2_login">
                        {% comment %}               {% for users in uesr %}
                                                    <option value="{{ users.id }}"> {{ users }} </option>
                                                {% endfor %}{% endcomment %}
                        {#                        <option value="">sa</option>#}
                        {#                        <option value="">lll</option>#}
                    </select>

                    {#{{ user }}#}
                    {##}
                    {#                    <select name="hospital" class="form-control">#}
                    {#                        {% for users in uesr %}#}
                    {#                            <option value="{{ user }}"> {{ user }} </option>#}
                    {#                        {% endfor %}#}
                    {#                    </select>#}


                    {#                    <select class="js-example-basic-multiple form-control form-control-lg" style="" name="states[]"#}
                    {#                            multiple="multiple">#}
                    {#                        {% for user in user %}#}
                    {#                            <option value="{{ uesr }}">{{ user }}</option>#}
                    {#                        {% endfor %}#}
                    {#                    </select>#}

                    {##}
                    {#                    <select class="js-example-basic-multiple form-control form-control-lg" style="" name="states[]"#}
                    {#                            multiple="multiple">#}
                    {#                        {% for user in user %}#}
                    {#                            <option value="{{ uesr }}">{{ user }}</option>#}
                    {#                        {% endfor %}#}
                    {#                    </select>#}

            </div>

            <!-- Password input -->
            <div class="form-outline mb-6 w-50">
                <label class="form-label" for="floatingPassword" style="font-size: 18px">รหัสผ่าน</label>
                <input type="password" {% if messages %}#}
                    {% for message in messages %}
                       class="form-control is-invalid"
                    {% endfor %}
                {% else %}
                       class="form-control"
                {% endif %} id="floatingPassword"
                       placeholder="รหัสผ่าน"
                       name="password" required>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mt-5" id="submit_login">เข้าสู่ระบบ</button>

            <!-- Register buttons -->
            </form>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


<script>

{% comment %}    $('#myform').on('submit', function () {


        return true;
    });{% endcomment %}
    $(document).ready(function () {
        $("#select2_login").append('{% for user in user %}'+'<option value="' + {{ user.id }} +'">'
            + '{{ user }}'+ '</option>'+'{% endfor %}')
        {#console.log('{{ user }}')#}
        $("#submit_login").on('click', function () {
            {#alert($("#select2_login").find("option:selected").text() + ' clicked!');#}
            var selected = $("#select2_login").find("option:selected").text();
            document.getElementById("username").value = selected;
        });
        $('.js-example-basic-single').select2();
    });
    {% comment %}        $(document).ready(function () {
                $('.js-example-basic-multiple').select2();
            });{% endcomment %}
</script>


</body>
</html>

