{% extends 'registration/password_change_form.html' %}
{% block success %}
    <script>
        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 2000,
            timerProgressBar: false,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })

        Toast.fire({
            icon: 'success',
            title: 'เปลี่ยนรหัสผ่านเสร็จสิ้น {{ new_password2 }}     {{ request.session.new_password2 }}     {{ session.new_password2 }}'
        })
        setTimeout(function () {
            window.location = ('{% url 'changepassword_done'  %}')
        }, 2000)
    </script>
{% endblock %}
